<!DOCTYPE html>
<html lang="en">
<body>

    <form action="/" method="post">
    <p>Total HMO coverage months <input type="number" name="BENE_HMO_CVRAGE_TOT_MONS" min="1" max="12" value={{values[0]}}></p>
    <p>If have cancer <input type="number" name="SP_CNCR" min="0" max="1" value={{values[1]}}></p>
    <p>Total Drug Expenditure this year <input type="number" name="TOTAL_DRUG_EXP" min="0" value={{values[2]}}></p>
    <p><input type = "submit" value = "submit" /></p>
    </form>
</body>
</html>


